<nav class="navbar navbar-expand-xxl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FAshioneeRS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="./mens.html">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./womens.html">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./kids.html">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./footwear.html">Footwear</a>
          </li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
          <li class="nav-item nav-icon">
            <a class="nav-link" href="./Wishlistn.html"><i class="fa-solid fa-heart fa-lg"></i></a>
          </li>
          <li class="nav-item nav-icon">
            <a class="nav-link" href="./Cartpage.html"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>