<app-header></app-header>
<div class="product-display">
  <h1>Women's Collection</h1>
  <div class="product-display-container">
    <div class="card">
      <img class="card-img-top" src="../../assets/womens-images/product1.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/womens-images/product2.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/womens-images/product3.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/womens-images/product4.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/womens-images/product5.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/womens-images/product6.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/womens-images/product7.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/womens-images/product8.webp" />
      <div class="card-body productDetails">
        <h4 class="card-title">Fashioneers</h4>
        <p class="card-text">T-shirt</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
      <div class="card-body wishlist">
        <a routerLink="/wishlist" class="btn wishlistButton"
          ><i class="fa-solid fa-heart"></i> Wishlist</a
        >
        <a routerLink="/cartpage.html" class="btn wishlistButton"
          ><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a
        >
        <p class="card-text">Size: S</p>
        <p class="card-text">
          Rs. 479 <span class="strikedPrice"><del>Rs. 1499</del></span> (68%
          off)
        </p>
      </div>
    </div>
  </div>
  <div><p></p></div>
  <!-- <a routerLink="#" class="btn shopNew"><i class="fa-solid fa-cart-shopping"></i> Shop New</a> -->
</div>
<app-footer></app-footer>