* {
  margin: 0;
  padding: 0;
}

.product-display {
  overflow-x: hidden;
}



.product-display {
  margin: 0 auto;
  width: 100vw;
  /* padding: 30px; */
  /* background: linear-gradient(180deg, rgb(214, 255, 56) 0%, rgba(215, 255, 56, 0.5) 50%, rgb(215, 255, 56, 0) 100%); */
  text-align: center;
  margin: 0 auto;
  background-color:  rgb(201, 239, 228);
}

.product-display > h1 {
  margin:  auto;
  font-weight: bold;
  font-family: "Cinzel Decorative", serif;
  font-size: 350%;
  padding: 5px;
}

.product-display-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 90vw;
  padding: 0 50px;
  margin: 0 auto 50px auto;
}

.product-display-container > .card > img {
  height: 95%;
  width:90%;
  margin: 10px;
  transition: transform 1s ease, border-radius 1s ease;
  height:300px;
  border:2px solid beige;
}

.product-display-container > .card {
  /* height: 95%; */
  overflow: hidden;
  height:450px;
  background-color: beige;
  border: 2px solid grey;
  margin:5px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.card-body.wishlist {
  width: 100%;
  display: none;
}

.card-body.wishlist > .btn {
  width: 75%;
  margin: 5px;
  border: 2px solid #f2506b;
  transition: background-color 1s ease, color 1s ease;
}

.card-body.wishlist > .btn:hover {
  color: #f2506b;
}

.card-body.productDetails {
  margin: 10px;
}

.strikedPrice {
  font-size: 80%;
  color: gray;
}

.card:hover > img {
  /* margin-bottom: 5px;
  transform: scale(1.04);
  border-radius: 0 0 38px 38px; */
    transform: scale(1.05);
    box-shadow: 1px 1px 10px black;
    opacity: 1;
}

.card:hover > .productDetails {
  display: none;
}

.card:hover > .wishlist {
  display: block;
}

.shopNew {
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 50px;
  border: 2px solid #f2506b;
  margin: 80px auto;
  transition: background-color 0.75s ease, color 0.75s ease;
}

.shopNew:hover {
  background-color: black;
  color: #f2506b;
}

/* Media Queries */

@media (max-width: 768px) {
  .product-display-container {
    grid-template-columns: 1fr;
  }

  .product-display-container .card {
    display: block;
    transform: scale(0.7);
    margin: -40px auto;
  }
}
