    <!-- Cart Section -->
    <div class="content-wrapper">
        <div class="wrapper">
            <div class="project">
                <div class="shop">

                    <div *ngFor="let product of cart" class="box">
                        <img src={{product.images[0]}} alt="">
                        <div class="content">
                            <h3>{{product.title}}</h3>
                            <h4> Rs.1499/-</h4>
                            <h3>Price: Rs. {{product.price}}/-</h3>
                            <!-- <button class="quantityBtn">-</button><p> {{product.itemCount}} </p><button class="quantityBtn">+</button> -->
                            <h3><span class="quantityBtn" >-</span><span> {{product.itemCount}} </span><span class="quantityBtn" >+</span></h3>
                        </div>
                        <p class="btn-area">
                            <i class="fa fa-trash"></i>
                            <span class="btn2">Remove</span>
                        </p>
                    </div>
                    
                </div>
                <div class="right-bar">
                    <p><span>Subtotal:</span> <span>Rs. 2497/-</span></p>
                    <p><span>Tax (6%):</span> <span>Rs. 149.82/-</span></p>
                    <p><span>Total:</span> <span>Rs. 2646.82/-</span></p>
                    <a href="#"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                </div>
            </div>
        </div>
    </div>